body {
    padding: 20px;
    background-image: url("./assets/F1logo.jpg");
    background-repeat: inherit;
    text-align: center;

}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.race-card {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #00000060;
    border-radius: 5px;
    background-color: #d6d4d450;
    font-weight: bold;
}